/*
color of lines #1306d2
warning color: #a94442
*/

* {}

body {
    background-image: url("images/tile.jpg");
    box-sizing: border-box;
}

#logoTitle {
    display: block;
    margin: auto;
    padding: 10px;
}

/*form*/

#formContainer {
    background-image: url("images/formbg.jpg");
    width: 500px;
    height: 248px;
    border: 2px solid #1306d2;
    border-radius: 4px;
    padding: 30px;
}

#textAreaForm {
    height: 67px;
    resize: none;
    overflow: auto;
}

#saveTaskButton {
    display: block;
    margin: 19px auto 7px auto;
}

#warningDate {
    visibility: hidden;
    color: #a94442;
    font-weight: 700;
    text-align: center;
}

/*notes*/

#notesArea {
    margin: 2px;
    height: 250px;
}

.note {
    background-image: url("images/notebg.png");
    font-family: 'Kalam', cursive;
    font-size: 1.2em;
    width: 200px;
    height: 250px;
    padding: 23px 4px;
    margin: 5px;
    opacity: 0;
    /*fade-out animation*/
    transition: opacity 0.7s;
}


.taskNameLabel {
    margin-left: 6px;
    font-weight: 700;
    height: 24px;
}

.textAreaTask {
    margin-top: 3px;
    padding: 3px;
    width: 170px;
    height: 143px;
    border: 1px solid #ccc;
    background-color: rgba(1, 1, 1, 0.1);
    overflow: auto;
}

.buttonsContainer {
    visibility: hidden;
    float: right;
    margin-right: 22px;
}

.note:hover .buttonsContainer {
    visibility: visible;
}

.glyphicon {
    font-size: 1.2em;
    color: #666;
    box-sizing: border-box;
    padding-right: 5px
}

.glyphicon-edit:hover {
    color: #1306d2;
}

.glyphicon-remove-sign:hover {
    color: #fb4435;
}

.taskDateLabel {
    margin-top: 5px;
    padding-top: 10px;
}
/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
